/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.rt-SelectTrigger:where(.rt-variant-surface) {
  box-shadow: none !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination-bullet {
  width: 80px !important;
  height: 8px !important;
  opacity: 1 !important;
  border-radius: 4px !important;
  background: #eaeaea !important;
  transition: 0.3s !important;
}

.swiper-pagination-bullet-active {
  background: #282828 !important;
}
